/* ESTILO GERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00ff08; 
    border-radius: 30px;
    border: 0;
    cursor: pointer;
    transition: .2s;
}

.flex {
    display: flex;
}

h2.titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: #00ff08;
}

button:hover,
form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px #00ff08;
    transform: scale(1.05);
}

/* ESTILO CABEÇALHO */

header {
    padding: 40px 4%;

}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
}

header .logo a img {
    width: 200px;
    height: 200px;
}

header nav.menu-desktop a:hover {
    color: #fff;
    transform: scale(1.05);
    transition: .2s;
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
}

/* estilo do menu mobile */

.menu-mobile {
    background-color: #000;
    height: 100vh;
    /* o menu não vai empurrar a página para baixdo */
    position: fixed;
    /* colocar a posição como 0 define onde o elemente deve começar */
    top: 0;
    right: 0;
    /* determinar quem fica em cima de quem */
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .2s;
}

/* CLASSE QUE TRABALHA COM O JAVASCRIPT */
.menu-mobile.abrir-menu {
    width: 70%;
}

/* SEMPRE QUE A CLASSE ANTES DO ~EXISTIR SERÁ ATIVADA A CLASSE APÓS O  */
.menu-mobile.abrir-menu~.overlay-menu {
    display: block;
}

.menu-mobile nav ul {
    text-align: right;

}

.menu-mobile nav ul li a {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover {
    background-color: #00ff08;
    color: #000;
}

.overlay-menu {
    background-color: #000000b2;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

.menu-mobile .btn-fechar {
    padding: 20px 5%;
}

.menu-mobile .btn-fechar i {
    color: #00ff08;
    font-size: 30px;

}

/* 
ESTILO DO TOPO DO SITE */

section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;

}

.topo-do-site h1 {
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: #00ff08;
}

.topo-do-site .txt-topo-site p {
    color: #fff;
    margin: 30px 0;
    font-size: 22px;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    width: 300px;
    border-radius: 125px;

}

/* KEYFRAMES */

@keyframes flutuar {

    /* posição inicial do objeto */
    0% {
        top: 0;
    }

    /* posição final do objeto */
    100% {
        top: 25px
    }
}

/* estilo das especialidade */

section.especialidades {
    padding: 40px 4%;
}

section.especialidades .flex {
    gap: 60px;
}

.especialidades .especialidades-box {
    color: #fff;
    padding: 40px;
    margin-top: 45px;
    border-radius: 20px;
    transition: .2s;
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px #ffffff5c;
}

/* estilizando os icones */
.especialidades .especialidades-box i {
    font-size: 70px;
    color: #00ff08;
}

.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

/* estilo sobre */

section.sobre {
    padding: 70px 4%;
}

.sobre .img-sobre img {
    width: 300px;
    height: 380px;
    border-radius: 20px;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: #fff;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: #00ff08;
    /* joga o span para a linha de baixo */
    display: block;
}

.sobre .txt-sobre p {
    margin: 30px 0;
    text-align: left;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: none;
    background-color: #00ff08;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

/* estilo do portifólio */

section.portifolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff0c;
}

section.portifolio .flex {
    justify-content: space-around;
    margin-top: 60px;
}

.img-port {
    width: 360px;
    height: 460px;
    /* ajusta a imagem dentro do background image */
    background-size: cover;
    background-position: 100% 0%;
    transition: 6s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover {
    /* a imagem vai para o final quando passar por ela */
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

/* .overlay a{
    text-decoration: none;
    color: #fff;
} */

.overlay:hover {
    opacity: 1;
}

/* ESTILIZA FORMULÁRIO */

section.formulario {
    padding: 80px 4%;
}

form {
    /* largura maxima */
    max-width: 500px;
    /* centraliza o formulário */
    margin: 25px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

form input,
form textarea {
    width: 100%;
    background-color: #242424;
    border: 0;
    /* remover a linha quando clica dentro do input */
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

/* estilizar o :placeholder

form input::placeholder{

} */

form textarea {
    /* tira a opção de redimensionar o textarea  */
    resize: none;
    max-height: 200px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input[type=submit] {
    width: 200px;
    background-color: #00ff08;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

/* estilo rodapé */

footer {
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff0c;
}

footer .flex {
    justify-content: space-between;
    align-items: center;
}

footer .line-footer {
    padding: 20px 0;
}

footer .logo-footer img {
    width: 150px;
    height: 150px;
}

.borda {
    border-top: 2px solid #00ff08;
}

footer .line-footer p i {
    color: #00ff08;
    font-size: 22px;
}

footer .line-footer p a {
    color: #fff;
}

/* INICIO DA CONFIGURAÇÃO DE RESPONSIVIDADE */

@media screen and (max-width: 1020px) {

    /* classes gerias */
    .flex {
        flex-direction: column;
    }

    header .logo a img {
        width: 130px;
        height: 130px;
    }

    .topo-do-site .img-topo-site img {
        animation: flutuar 1.1s ease-in-out infinite alternate;
        width: 300px;

    }

    @keyframes flutuar {

        /* posição inicial do objeto */
        0% {
            top: 0;
        }

        /* posição final do objeto */
        100% {
            top: 20px
        }
    }

    h2.titulo {
        font-size: 34px;
        line-height: 30px;
    }


    .topo-do-site .flex {
        flex-direction: column-reverse;
    }

    .btn-abrir-menu {
        text-align: right;
        margin-top: 0;
    }

    .btn-abrir-menu i {
        color: #00ff08;
        font-size: 40px;
    }

    section.sobre .flex {
        align-items: center;
        gap: 55px;
        flex-direction: column-reverse;
    }

    section.sobre .flex .img-topo-site img {
        width: 60%;
    }

    /* cabeçalho */
    /* menu desaparece e botão */
    .menu-desktop,
    header .btn-contato {
        display: none;
    }

    .topo-do-site .btn-contato {
        display: flex;
        justify-content: center;
    }

    .topo-do-site .btn-contato button {
        padding: 10px 40px;
        font-size: 15px;
        font-weight: 700;
    }

    section.topo-do-site {
        padding: 20px 8%;
    }

    section.topo-do-site .flex {
        gap: 40px;
    }

    /* topo do site */
    .topo-do-site h1 {
        font-size: 30px;
    }

    /* estilo das especialidade */

    section.especialidades {
        padding: 30px 8%;
    }

    /* estilo sobre */
    section.sobre {
        padding: 80px 8%;
    }

    .sobre .txt-sobre h2 {
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    .btn-social {
        text-align: center;
    }

    .sobre .img-sobre {
        display: flex;
    }

    .sobre .img-sobre img {
        width: 75%;
        height: 75%;
        margin: auto;
    }

    /* estilo do portifólio */

    section.portifolio {
        padding: 75px 8%;
    }

    .img-port {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    section.portifolio .flex {
        gap: 50px;
    }

    /* estilo rodapé */
    footer .flex {
        flex-direction: column;
        gap: 30px;
    }

    footer .line-footer {
        text-align: center;
    }


}