:root{
    --cor-fundo-portifolio: linear-gradient(to right, #362FD9, #537FE7, #537FE7, #7F8487, #000000);
    --altura-pagina: 60vw;
    --cor-de-fundo: #E8E2E2;
    --cor-de-fundo-2: #ffffff;
}